* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* used standard universal for css page */
body {
    background-color: white;
}
/* styled my header */
header {
    padding: 20px 20px 20px 0px;
    font-family: "Fira Code", "JetBrains Mano NL", monospace;
    background-color: #12100E;
    color: white;
}

/* stlying my h1 */

 h1 {
    display: inline-block;
    font-size: 48px;
    background-color: blue;
    margin: 0;
    

}

/* adding proper styling and properties to nav */
nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-family: "Fira Code", "JetBrains Mano NL", monospace;
    font-size: 20px;
}

nav a {
    display: inline-block;
    margin-left: 25px;
    /* how to get this to turn white and add blue underline w text-dec */

}

.backgroundimg {
    height: 540px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../images/programming-languages-shutterstock-1680857539.webp");
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

p {
    display: inline-block;
}

h2 {
    color: white;
    font-size: 48px;
    background-color: #12100E;
    padding: 10px;
    opacity: 0.9;

}

.flloat-left {
    float: left;
    margin: 25px;
}

div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Fira Code", "JetBrains Mano NL", monospace;
    background-color: #12100E;
    color: white;
}

div img {
    max-height: 200px;
}


.sm {
    display: flex;
    text-align: center;
    justify-content: space-between;
    ;

}
.instagram {
    border: 2px solid white;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }