body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: blue;
}
/* comments will be for css work above. here we created a body and gave it some properties */

.banner {
    width: 100%;
    height: 200px;
    background-image: url("../images/background.jpeg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* styled our background img to center and background color */

.bannerDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}

a {
    color: white;
}

h1 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    line-height: 200px;
}
/* sytled my 'Varuns coding jounry */

nav {
    width: 100%;
    height: 40px;
    background-color: black;
    font-family: "Fira Code", "JetBrains Mono NL", monospace;
    display: inline-flex;
    justify-content: end;
}

nav  a {
    font-size: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

main {
   width: 75%; 
   display: inline-block;
   margin-left: 10px;
}
/* styled the nav and nav classes */

.container {
    width: 100%;
    display: inline-flex;
}

/* styled the container to move it where it needs to be  */
.mainDiv {
    flex: 3 1 auto;
    padding: 0px 8px;
}
.asideDiv {
    flex: 1 1 auto;
    padding: 0 8px;
}
/* made sure over screens break down properly */

.about p {
    display: flex;
    text-align: center;
    color: white;
    
}

.section h3 {
    color: white;
}

section img {
    max-height: 200px;
    margin: 0 15px;
    border: 20px 20px;
}
.sectionDiv {
    display: flex;
    width: 100%;
    /* height: 150px; */
    background-color: black;
    margin: 8px 0px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.articleDiv {
    width: 100%;
    height: 200px;
    background-color: white;
    margin: 8px 0px;
    background-image: url(../images/Horison-Search-Engine-Optimization.png);
    background-size: cover;
}

#articleDiv {
    width: 100%;
    height: 200px;
    color: white;
    margin: 8 0px;
    background-image: url(../images/filler.webp);
    background-size: cover;
}

.asideSection {
    width: 100%;
    height: 175px;
    background-color: whitesmoke;
    margin: 8px 0px;
    background-image: url(../images/VarunTanna-Varun-Tanna-.png);
    background-size: cover;
}

footer {
    position: relative;
    width: 100%;
    background: black;
    min-height: 100;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-direction: column;
    
}
footer .social_icon,
footer .main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .main li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    
}

footer .social_icon li a:hover 
{
    transition: all 250ms ease;
    transform: translate(0, -10px);
}

footer .main li a {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    
}





@media only screen and (max-width: 600px) {

.container {
    display: block;
}
}